<label>Username</label>
<input type="text" 
  class="form-control" 
  [(ngModel)]="username">
  
<p>{{ userCreate }}</p>

<button class="btn btn-primary" 
  [disabled]="!username" 
  (click)="onCreateUser()">Reset User</button>