<hr>
<label>Server Name</label>
<input type="text" 
      class="form-control" 
      [(ngModel)]="serverName">
<button class="btn btn-primary" 
        [disabled]="!allowNewServer" 
        (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>